<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <ul class="cart__item-list">
                <% products.forEach(p => { %>
                    <li class="cart__item">
                        <h1><%= p.productId.title %></h1>
                        <h2>Price: <%= p.productId.price %></h2>
                        <h2>Quantity: <%= p.quantity %></h2>
                    </li>
                <% }) %>
            </ul>
            <div class="centered">
                <h1>Total: <%= totalSum %></h1>
            </div>
            <div class="centered">
                <button id="order-btn" class="btn" >ORDER</button>
                <script src="https://js.stripe.com/v3/"></script>
                <script>
                    var stripe = Stripe('pk_test_51MhV1mSFUOKKmb9ezrZxreaFzJsa05p8js2D6TOe10uhH43BazaFfxmYqwhJlPWN7sAWiX1284eu7ALdc9BlqMOs007U8FerAA');
                    var orderBtn = document.getElementById('order-btn');
                    orderBtn.addEventListener('click', function() {
                        stripe.redirectToCheckout({
                            sessionId: '<%= sessionId %>'
                        });
                    });
                </script>
            </div>
        </main>
        <%- include('../includes/end.ejs') %>